.chessboard-container {
    grid-area: chessboard;
    max-height: 500px;
    max-width: 500px;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
}

.gameInfo-container {
    grid-area: gameInfo;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "white black"
        "whiteMoves blackMoves"
}

.white {
    grid-area: white;
    font-size: 24px;
    color: white;
    justify-self: right;
    padding-right: 35px;
}

.black {
    grid-area: black;
    font-size: 24px;
    color: white;
    padding-left: 35px;
}

.chessPageContainer {
    margin-right: 20%;
    margin-left: 20%;
    height: 100vh;
    background-color:grey;
    grid-template-areas:
        ""
        "chessboard"
        "gameInfo"
}

.white-moves-container {
    grid-area: whiteMoves;
    justify-self: right;
    font-size: 16px;
    color: white;
    padding-right: 45px;
}

.black-moves-container {
    grid-area: blackMoves;
    justify-content: center;
    font-size: 16px;
    color: white;
    padding-left: 45px;
}