.bars {
    grid-area: bars;
    color: white;
}

.title {
    grid-area: title;
    color: white;
}

.navbar-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas:
        "title . bars"
}

.navbar-elements {
    position: absolute;
    right: 0;
    top: 60px;
    height: 0;
    width: 100vw;
    transition: all 0.3s ease-in;
    overflow: hidden;
}

.navbar-elements.active {
    height: 250px;
}